@using ObjectInfo
@{

    Layout = "~/Views/Shared/Guest/_Layout.cshtml";
    ViewBag.Title = "Bài viết";

    CSE_PostsInfo posts_info = new CSE_PostsInfo();
    if (ViewBag.PostInfo != null)
    {
        posts_info = ViewBag.PostInfo;
    }
}

@if (posts_info?.Id > 0)
{
    <div class="container-xxl container">
        <div class="container-inner-news">
            <div class="row news-row">
                <div class="col-lg-8">
                    <div class="news-container">
                        <h3 class="news-big-title">@posts_info.Title</h3>
                        <span class="news-time">@posts_info.Start_Date</span>
                        <p>
                            @Html.Raw(posts_info.Content)
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="more-news-container">
                        <h3>
                            <a class="more-news-title-link" href="">Đọc thêm các tin các</a>
                        </h3>
                        <div class="more-news-card">
                            <img width="100%" src="../assets/hoptac-ava/image 3.png" alt="">
                            <div class="more-news-card-content">
                                <h3>Gần 1.000 thí sinh tham dự Ngày hội Open Day...</h3>
                                <span>thời gian: 11/02/2023</span>
                                <span>Địa điểm: T45</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

      <div class="container-xxl container">
                    <div class="events-container">
                        <div class="events-title title-news_wrapper">
                            <h3 class="news-title">CSE sự kiện</h3>
                        </div>
                        <div class="events-content-wrapper">
                            <div class="row events-list">
                                <div class="col-lg-4 col-mobile">
                                    <div class="event-content">
                                        <div class="event-thumbnail">
                                           <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                                        </div>
                                        <div class="items-events-wrap">
                                            <div class="events-start-date">
                                                <span>07</span>
                                                <span>TH 12</span>
                                            </div>
                                            <div class="events-detail">
                                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                                <div class="events-info">
                                                    <span>7:00 am - 7:00 am</span>
                                                </div>
                                                <div class="events-info">
                                                    <span>Địa điểm: T45</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-mobile">
                                    <div class="event-content">
                                        <div class="event-thumbnail">
                                           <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                                        </div>
                                        <div class="items-events-wrap">
                                            <div class="events-start-date">
                                                <span>07</span>
                                                <span>TH 12</span>
                                            </div>
                                            <div class="events-detail">
                                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                                <div class="events-info">
                                                    <span>7:00 am - 7:00 am</span>
                                                </div>
                                                <div class="events-info">
                                                    <span>Địa điểm: T45</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-mobile">
                                    <div class="event-content">
                                        <div class="event-thumbnail">
                                           <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                                        </div>
                                        <div class="items-events-wrap">
                                            <div class="events-start-date">
                                                <span>07</span>
                                                <span>TH 12</span>
                                            </div>
                                            <div class="events-detail">
                                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                                <div class="events-info">
                                                    <span>7:00 am - 7:00 am</span>
                                                </div>
                                                <div class="events-info">
                                                    <span>Địa điểm: T45</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="more-news-btn">View All Events</a>
                        </div>
                    </div>
               </div>
}


