@using ObjectInfo
@{

    Layout = "~/Views/Shared/Guest/_Layout.cshtml";
    ViewBag.Title = "Danh sách bài viết";

    List<CSE_PostsInfo> _lst = new List<CSE_PostsInfo>();
    if (ViewBag.LstData != null)
    {
        _lst = ViewBag.LstData;
    }
}


<div class="container-xxl container">
    <div class="row content-news">
        <div class="col-lg-8">
            @if (_lst?.Count > 0)
            {
                foreach (var item in _lst)
                {
                    <div class="col-lg-12">
                        <div class="new-card">
                            <div class="banner_new-card-container">
                                <img src="@item.Thumbnail" alt="" style="width: 850px; height: 570px; object-fit: cover;">
                            </div>
                            <div class="content_new-card-container">
                                <h3>@item.Title</h3>
                                <span>@item.Created_Date</span>
                                <p>@item.Description</p>
                                <div>
                                    <a href="/bai-viet/@item.Id">Xem <i class="fa-solid fa-arrow-right"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-lg-4">
            <div class="newest-new-container">
                <div class="newsest-title">
                    <h3>Tin mới nhât</h3>
                </div>
                <ul class="newsest-list">
                    <li class="newsest-item">
                        <img width="30%" src="../assets/hoptac-ava/backgroundLogin.png" alt="">
                        <div class="newest-item-content">
                            <h3>Ngày hội tư vấn tuyển sinh các trường...</h3>
                            <span>20-02-2023</span>
                            <a href="">Xem <i class="fa-solid fa-arrow-right"></i></a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>