@{

    Layout = "~/Views/Shared/Guest/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";

}

<div class="container-fluid container-news-absolute">
    <div class="container-xxl container-md container">
        <div class="main-categories_container">
            <div class="row">
                <div class="col-lg">
                    <div class="main-category-wrapper">
                        <div class="main-category_header">
                            <img width="10%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/hp2-col-1-icon.png" alt="">
                            <div>
                                <h3>Cuộc sống</h3>
                                <a href="./New.html">Xem tiếp</a>
                            </div>
                        </div>
                        <div class="main-category-img">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/building-700x450.jpg" alt="">
                        </div>
                        <div class="main-category-content">
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                            </p>
                            <div>
                                <a href="./New.html">Xem tiếp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="main-category-wrapper">
                        <div class="main-category_header" style="background-color:var(--secondary-red);">
                            <img width="10%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/book.png" alt="">
                            <div>
                                <h3>Môn học</h3>
                                <a>Xem tiếp</a>
                            </div>
                        </div>
                        <div class="main-category-img">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/business-man-700x450.jpg" alt="">
                        </div>
                        <div class="main-category-content">
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                            </p>
                            <div>
                                <a href="">Xem tiếp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="main-category-wrapper">
                        <div class="main-category_header" style="background-color:var(--third-red) ;">
                            <img width="10%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/sport-center.png" alt="">
                            <div>
                                <h3>Chương trình</h3>
                                <a>Xem tiếp</a>
                            </div>
                        </div>
                        <div class="main-category-img">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/working-700x450.jpg" alt="">
                        </div>
                        <div class="main-category-content">
                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                            </p>
                            <div>
                                <a href="">Chương trình</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>

</div>

<div class="container-xxl container">
    <div class="news-big-container">
        <div class="row">
            <div class="col-lg-4 col-mobile" style="margin-left: -12px;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Cse trên facebook</h3>
                </div>
                <div class="news-video-container">
                    <div class="news-video_wrapper">
                        <a href="" class="video-box">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/red-building.jpg" alt="">
                            <span class="video-icon">
                                <img width="60%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/play-icon.png" alt="">
                            </span>
                        </a>

                    </div>
                    <div class="news-video-content">
                        <p>Take a tour in Kingster and you will find the best school in the state. The video will take you to every places in this school.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-mobile" style="margin-right:-12px ;">
                <div class="title-news_wrapper">
                    <h3 class="news-title">Tin tức khoa</h3>
                </div>
                <div class="news-list-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-item-wrapper">
                                <div class="news-item-avatar">
                                    <div class="avatar-overlay"></div>
                                    <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2016/06/shutterstock_135948689-150x150.jpg" alt="">
                                </div>
                                <div class="title-wrapper">
                                    <a>JUNE 6, 2016 BY JAMES SMITH</a>
                                    <h3>
                                        <a href="">A Global MBA for the next generation of business leaders</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="more-news-btn">Đọc tin tức</a>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="about-us-container">
        <div class="container-xxl about-us-container-inner container">
            <h3>Về chúng tôi</h3>
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Giải thưởng</span>
                            <h3>420</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Phòng thực hành</span>
                            <h3>32</h3>
                            <p>Được trao tặng bởi các giáo sư đầu ngành trong nước và cả nước ngoài</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Chương trình đào tạo</span>
                            <h3>20</h3>
                            <p>Chương trình thuộc các hệ Kỹ sư, Thạc sỹ, Tiến sỹ</p>
                        </div>

                    </div>
                    <div class="col-lg col-mobile">
                        <div class="about-us-item">
                            <span>Đối tác</span>
                            <h3>120+</h3>
                            <p>Các doanh nghiệp trong nước, các nước phát triển</p>
                        </div>

                    </div>

                    <div class="col-lg">
                        <div class="about-us-item">
                            <span>Sinh viên</span>
                            <h3>4200+</h3>
                            <p>Thuộc top 1 điểm đầu vào khối A cao nhất mùa tuyển sinh 2022</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">CSE sự kiện</h3>
        </div>






        <div class="events-content-wrapper">
            <div class="row events-list" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>
                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>
                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>
                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>
                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>
                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="event-content">
                        <div class="event-thumbnail">
                            <img width="100%" src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/fancycrave-270977-unsplash-900x500.jpg" alt="">
                        </div>
                        <div class="items-events-wrap">
                            <div class="events-start-date">
                                <div>
                                    <span>07</span>
                                    <span>TH 12</span>
                                </div>

                            </div>
                            <div class="events-detail">
                                <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                <div class="events-info">
                                    <span>7:00 am - 7:00 am</span>
                                </div>
                                <div class="events-info">
                                    <span>Địa điểm: T45</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="more-news-btn">View All Events</a>
        </div>





    </div>
</div>


<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">Hợp tác</h3>
        </div>
        <div class="cooperate-container">
            <div class="row">
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/log_fpt.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_samsung.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_viettel.png" alt="">
                    </a>

                </div>
                <div class="col-lg">
                    <a href="" class="cooperate-item">
                        <img src="~/Guest_Assets/Img/logo_vnpt.png">
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>

