
.form-container {
    height: 100vh;
    background-image: url('/img/backgroud_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    color: white;
    background-color: #C82629;
    border: none;
    padding: 8px 16px;
    border-radius: 32px;
    margin: 0 auto;
}

#form {
    border-radius: 5px;
    padding: 20px;
    margin-top: 5%;
}

    #form h3 {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }

.form-group {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 10px;
}

    .form-group img {
        height: 27px;
    }

.form-control {
    border: none;
    overflow: hidden;
    border-radius: 40px;
}

.form-forget {
    text-align: end;
}

    .form-forget a {
        color: white;
        text-decoration: none;
        font-style: italic;
    }
