@using ObjectInfo
@{
    List<CSE_PostsInfo> _LstData = new List<CSE_PostsInfo>();
    if (ViewBag.LstTenEvent != null)
    {
        _LstData = ViewBag.LstTenEvent;
    }
}

<div class="container-xxl container">
    <div class="events-container">
        <div class="events-title title-news_wrapper">
            <h3 class="news-title">CSE sự kiện</h3>
        </div>
        <div class="events-content-wrapper">
            <div class="row events-list">
                @if (_LstData != null && _LstData.Count > 0)
                {
                    foreach (CSE_PostsInfo item in _LstData)
                    {
                        <div class="col-lg-4 col-mobile">
                            <div class="event-content">
                                <div class="event-thumbnail">
                                    <img width="100%" src="@item.Thumbnail" alt="">
                                </div>
                                <div class="items-events-wrap">
                                    <div class="events-start-date">
                                        <span>07</span>
                                        <span>TH 12</span>
                                    </div>
                                    <div class="events-detail">
                                        <a href="">Gần 1.000 thí sinh tham dự Ngày hội Open Day...</a>
                                        <div class="events-info">
                                            <span>7:00 am - 7:00 am</span>
                                        </div>
                                        <div class="events-info">
                                            <span>Địa điểm: T45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <a href="" class="more-news-btn">View All Events</a>
        </div>
    </div>
</div>
