<footer class="footer">
    <div class="container-fluid">
        <div class="container-xxl container">
            <div class="row">
                <div class="col-lg-3 col-mobile">
                    <div class="footer-information-container">
                        <div class="footer-logo-info">
                            <img src="../assets/hoptac-ava/ces 1.png" alt="">
                        </div>
                        <div class="footer-content-wrapper">
                            <p> Box 353001810 Campus Way NEBothell, WA 98011-8246</p>
                            <span>+1-2534-4456-345</span>
                            <span>admin@kingsteruni.edu</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="footer-categories-content">
                        <ul class="footer-categories-list">
                            <li class="footer-categories-item">
                                <a href="">Trang chủ</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Giới thiệu</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Khoa - Phòng ban</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="footer-categories-content">
                        <ul class="footer-categories-list">
                            <li class="footer-categories-item">
                                <a href="">Ngành học</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Tuyển sinh</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Hợp tác quốc tế</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-mobile">
                    <div class="footer-categories-content">
                        <ul class="footer-categories-list">
                            <li class="footer-categories-item">
                                <a href="">Liên hệ</a>
                            </li>
                            <li class="footer-categories-item">
                                <a href="">Tuyển dụng</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>