@using CommonLib
@{
    var user = this.Context.GetCurrentUser();

    int timeoutStatus = 0;
    if (ViewBag.TimeOutStatus != null)
    {
        timeoutStatus = ViewBag.TimeOutStatus;
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Website khoa CNTT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal&family=Poppins:ital,wght@0,400;0,500;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/Guest_Assets/Lib/icons/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" href="/Guest_Assets/Lib/icons/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
    <!-- slick slider css -->

    <link rel="stylesheet" href="/Guest_Assets/css/main.css">
    <link rel="stylesheet" href="/Guest_Assets/css/home.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/bidding_lib/libs/js/umd/popper.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

</head>
<body>
    <div class="container-fluid">
        <div class="main-wrapper">
            @*header*@
            <partial name="~/Views/Shared/_Header.cshtml" />

            <!-- content -->
            <div class="container-content">
                <div class="slider-home">
                    <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_513707497.jpg" class="d-block w-100" alt="...">
                                <div class="slider-content">
                                    <h3>Chào mừng tới</h3>
                                    <h1>Khoa Công nghệ thông tin</h1>
                                </div>
                                <div class="overlay"></div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2018/08/shutterstock_177301904.jpg" class="d-block w-100" alt="...">
                                <div class="slider-content">
                                    <h3>Chào mừng tới</h3>
                                    <h1>Khoa Công nghệ thông tin</h1>
                                </div>
                                <div class="overlay"></div>
                            </div>
                            <div class="carousel-item">
                                <div class="slider-content">
                                    <h3>Chào mừng tới</h3>
                                    <h1>Khoa Công nghệ thông tin</h1>
                                </div>
                                <img src="https://a6e8z9v6.stackpathcdn.com/kingster/highschool/wp-content/uploads/2019/06/shutterstock_726926179.jpg" class="d-block w-100" alt="...">
                                <div class="overlay"></div>
                            </div>
                        </div>


                        <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                @RenderBody()
            </div>

            @*footer*@
            <partial name="~/Views/Shared/_Footer.cshtml" />

            <div class="overlay-mobile"></div>
            <header id="navbar-header-mobile" class="header-container-mobile">
                <div class="header-container-inner-mobile">
                    <div class="close-mobile-button">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="header-navigation-wrapper-mobile">
                        <div class="header-navigation-menu-mobile">
                            <ul class="header-main-menu-mobile">
                                <li class="header-menu-item-mobile">
                                    <a href="">Trang chủ</a>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <div class="header-menu-item-mobile-inner">
                                        <a href="">Giới thiệu</a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile ">
                                            <a href="">Logo khoa CNTT</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Lời chào mừng</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Tổ chức</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Hợp tác liên kết</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Nghiên cứu khoa học</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Các đề tài, dự án</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Thông tin seminar</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Công trình công bố</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Các phòng thí nghiệm</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Đào tạo</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Đào tạo đại học</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Đào tạo sau đại học</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Mô tả chương trình đào tạo</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Định hường ngành nghề</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Chuẩn đầu ra</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Đề cương môn học</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Bộ môn-Trung tâm</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Công nghệ phần mềm</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Hệ thống thông tin</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Toán học</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Tin học và kỹ thuật tính toán</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Trí tuệ nhân tạo</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Mạng và an toàn thông tin</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Tuyển sinh</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Nhóm ngành công nghệ thông tin</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Sinh viên</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Tài liệu sinh viên</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Tổ tư vấn học tập</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Biểu mãu ĐATN</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Luận văn tốt nghiệp</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Tin tức</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Sự kiện</a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="">CSE trên báo</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Thông báo</a>
                                    <ul class="sub-menu-mobile">
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Thông báo</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">TB đào tạo</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Nghiên cứu khoa học</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Tuyển dụng</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Học bổng</a>
                                        </li>
                                        <li class="sub-menu-item-mobile">
                                            <a href="">Thông báo khách</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-menu-item-mobile">
                                    <a href="">Liên hệ</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </header>


        </div>


</body>
</html>
