* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-blue: #1c1b3b;
    --primary-red: #c50227;
    --secondary-red: #980a25;
    --third-red: #78091e;
    --normal-text: #555555;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* title */
.title-news_wrapper{
    position: relative;
}
.title-news_wrapper h3{
    padding-bottom: 10px;
}
.title-news_wrapper::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: var(--primary-red);
}
/* main */
.main-wrapper{
    position: relative;
    overflow-x: hidden;
}
.header-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}
.top-bar-wrapper{
    background-color: var(--primary-blue);
    padding: 10px 20px;
}
.top-bar-container{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    /* margin-left: 40px;
    margin-right:40px; */
    align-items: center;
}
.top-bar-contact{
    display: flex;
    align-items: center;
    gap: 20px;
  
}
.top-bar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-bar-right-mobile{
    display: none;
}
.header-find-box{
    padding: 6px;
    border-radius: 20px;
    color: black;
    background-color: white;
}
.header-find-box>input{
    padding-left: 4px;
}
.header-find-box>input:focus{
    outline: none;
}
.top-bar-right-button_main{
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* main menu */
.header-container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header-logo{
    padding-top: 16px;
    padding-bottom: 20px;
    flex: 1;
}
.header-navigation-wrapper{
    padding-top: 20px;
    padding-bottom: 18px;
    flex: 6;
}
.header-main-menu{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.header-navigation-bar{
    position: absolute;
    top: 200%;
    left: 25px;
    width: 90px;
    height: 5px;
    display: block;
    transition: all .5s ease 0s;
    background-color: var(--primary-red);
}
.header-menu-item{
    position: relative;
}
.header-menu-item a{
    word-break: keep-all;
    color: #bebebe;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}
.header-menu-item:hover>a{
    color: white;
}
.header-menu-item:hover .sub-menu{
    display: block;
    z-index: 10;
}
.sub-menu{
    min-width: 200px;
    display: none;
    position: absolute;
    top: 225%;
    left: 0;
    background-color: #eee;
    transition: display 10s ease;
}
.sub-menu-item:first-child{
    padding-top: 12px
}.sub-menu-item:last-child{
    padding-bottom: 12px;
}

.sub-menu-item{
    padding: 5 14px;
}
.sub-menu-item a{
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 6px 30px 6px 12px;
    position: relative;
    color: #585858 ;
    line-height: 20px;
}
.sub-menu-item:hover a{
    color: var(--primary-red);
}
.container-content{
    position: relative;
    width: 100%;
}
.sticky-header{
    position:  fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform-origin : 100% top;
    background-color: var(--primary-blue);
    animation: growDown 0.5s ease-in-out forwards

}
/* slider */
.slider-home{
    position: relative;
    z-index: 0;
}
.carousel-item img.big-banner{
    width: 100%;
   max-height: 600px;
   object-fit:cover;
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
.carousel{
    position: relative;
}
.carousel-control {
    color: white;
}
.overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
.container-item{
    position: relative;
}
.slider-content{
    position: absolute;
    top: 45%;
    bottom: 50%;
    left: 10%;
    z-index: 10;
}
.slider-content h3{
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    color: white;
    font-family: 'Italianno';
    padding: 0;
}
.slider-content h1{
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}
.slider-content button{
    padding: 20px 25px;
    background-color: var(--primary-red);
    border-radius: 5px;
    
}
.slider-content button a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.carousel-control{
    width: 6%;
    
}
.carousel-control:hover span{
    display: block;
    color: white;
}
.carousel-control span{
    display: block;
    color: white;
   margin-top: 80px;
   transform: color 0.5s ease;
}
.container-news-absolute{
    position: relative;
    margin: -35px auto 0px auto;
    z-index: 1;
}
/* footer */
.footer{
    background-color: #363636;
    padding: 70px 0 60px;
}
.footer-information-container{
    position: relative;
}
.footer-information-container::after{
    content: "";
    position: absolute;
    background-color: var(--primary-red);
    top: 110%;
    height: 2px;
    left: 0;
    width: 100%;
}
.footer-logo-info{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.footer-logo-info img{
    transform: translateX(-50%);
}
.footer-content-wrapper p{
    color: #a2abab;
    padding-right: 30px;
    line-height: 24px;
}
.footer-content-wrapper span{
    color: white;
    display: block;
    margin-top: 15px;
}
.footer-categories-list{
    margin-top: 20px;
}
.footer-categories-item{
    padding: 10px 0;
}
.footer-categories-item a{
    color: #a2abab;
    transition: all ease-in-out 0.2s;
}
.footer-categories-item:hover a{
    color: white;
}


.title-news_wrapper {
    position: relative;
}
.news-title.footer {
    color: white;
    padding-top: 0;
}

.news-title.footer {
    color: white;
    padding-top: 0;
}
.title-news_wrapper h3 {
    padding-bottom: 10px;
}
.news-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
    color: var(--primary-blue);
}
/* header-mobile-reponsve */

.header-container-mobile{
    display: none;
    z-index: 100;
    position: fixed;
    background-color: #1f1f1f;
    padding: 40px 40px 0px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    transition: transform linear 0.6s;
    transform: translate(100%);   
}
.header-container-mobile.active{
    transform: translate(0);   
}
.sub-menu-mobile{
    padding-top: 10px;
    display: none;
}
.sub-menu-mobile.active{
    display: block;
}
.close-mobile-button{
    color: #979797;
    margin-bottom: 30px;
    font-size: 30px;
}
.sub-menu-item-mobile{
    position: relative;
  padding: 10px 0;
}
.header-menu-item-mobile{
    position: relative;
  padding: 17px 0;
  padding-right: 10px;
}
.header-menu-item-mobile-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #979797;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header-menu-item-mobile::after{
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 100%;
    background-color:#979797 ;
    left: 0;
}
.header-menu-item-mobile a{
    color: #979797;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.sub-menu-item-mobile a{
    color: #979797;
    font-size: 14px;
}
.overlay-mobile{
    display: none;
    position: fixed;
    inset: 0;
    opacity: 0.5;
    background-color: black;
    z-index: 100;
}
.overlay-mobile.active{
    display: block;
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
        opacity: 0
    }
    80% {
        transform: scaleY(1.1);
        opacity: 0.5
    }
    100% {
        transform: scaleY(1);
        opacity: 1
    }
}

/* event slider */
.slick-prev{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 10;
    color: white;
    font-size: 30px;
    background-color: transparent;
    transform: translateY(-50%);
    display: inline;
}
.slick-next{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    right: 0;
    font-size: 30px;
    color: white;
    background-color: transparent;
    z-index: 10;
    transform: translateY(-50%);
    display: inline;
}
.slick-dots{
    display: none!important;
}
  
  

 
/* responsive */


@media (max-width: 991px) { 
    .top-bar-right-mobile{
        display: block;
    }
    
}





@media (max-width: 991px) {

    /* header responsesive */
    .header-container{
        display: none;
    }
    .top-bar-right{
        display: none;
    }
    .top-bar-contact .top-bar-contact-container{
        display: none;
    }
    .header-logo{
        display: block;
    }
    .logo-smaller-screen img{
        width: 40%;
    }
    .top-bar-wrapper{
        padding: 20px 20px
    }
    .slider-content>h3{
        font-size: 30px !important;
        font-family: 'Italianno';
    }
    .slider-content>h1{
        font-size: 40px !important;
    }
}

@media (min-width: 992px) { 
.logo-smaller-screen{
    display: none;
}
}

.find-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 40%;
    padding: 10px 0;
}

    .find-input-wrapper::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: var(--primary-red);
        width: 100%;
        left: 0;
        top: 100%;
    }

    .find-input-wrapper input:focus {
        outline: none;
    }

    .find-input-wrapper input {
        width: 100%;
    }

.thumbnail-post {
    width: 100%; 
    height: 570px;
    object-fit: cover;
}

.thumbnail-post-new {
    width: 30%;
    height: 110px;
    object-fit: cover;
}